<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="bbpsservices" appConnect="local" components="{dmxDatastore:{},dmxFormatter:{},dmxValidator:{},dmxBootstrap5Modal:{}}" -->
<meta name="ac:route" content="/bbps-services">
<link href="css/css-bbps.css" rel="stylesheet" />
<dmx-serverconnect id="scServiceBBPS" url="api/Services/BbpsServices"></dmx-serverconnect>
<dmx-datastore id="dsAppInfo" session="true"></dmx-datastore>
<dmx-value id="varTab" dmx-bind:value="'Services'"></dmx-value>
<dmx-serverconnect id="scFetchBill" url="api/CheckAPIs/BbpsCheckBill" dmx-param:op_id="content.crCustomerInfo.OpCode.value" dmx-param:account="content.crCustomerInfo.CustomerId.value" noload dmx-param:mobile="content.crCustomerInfo.CustMobile.value"></dmx-serverconnect>
<script is="dmx-flow" id="flowElecBill" type="text/dmx-flow">
    {
    condition: {
        if: "{{content.crCustomerInfo.CustomerId.value && content.crCustomerInfo.OpCode.value}}",
        then: {
            steps: {
            run: {action: "{{scFetchBill.load({})}}"}
            }
        }
    }
}
</script>
<div id="divAllTabs" class="row no-gutters pt-3 px-0 mx-0 align-items-end" dmx-hide="varTab.value == 'Paid'">
    <div class="col-lg-3 col-md-3 col-3" dmx-on:click="varTab.setValue('Services')">
        <!--dsAppInfo.clear()-->
        <a class="btn btn-block sw-tabs sw-tabs-first py-2" href="#" dmx-class:disabled="varTab.value != 'Services'" dmx-class:sw-tabs-active="varTab.value == 'Services'">Select Service</a>
    </div>
    <div class="col-lg-3 col-md-3 col-3" dmx-on:click="run({condition:{if:`dsAppInfo.data[0].servicesId`,then:{steps:{run:{action:`varTab.setValue(\'Operator\')`}}}}})">
        <a class="btn btn-block sw-tabs sw-tabs-middle py-2" dmx-class:disabled="varTab.value != 'Operator'" href="#" dmx-class:sw-tabs-active="((varTab.value == 'Operator') || (varTab.value == 'Service'))">Select Operator</a>
    </div>
    <div class="col-lg-3 col-md-3 col-3" dmx-on:click="">
        <!-- run({condition:{if:`dsAppInfo.data[0].op_id`,then:{steps:{run:{action:`varTab.setValue(\'CustomerInfo\')`}}}}}) -->
        <a class="btn btn-block sw-tabs sw-tabs-middle py-2" dmx-class:disabled="varTab.value != 'CustomerInfo'" href="#" dmx-class:sw-tabs-active="varTab.value == 'CustomerInfo'">Customer Info</a>
    </div>
    <div class="col-lg-3 col-md-3 col-3" dmx-on:click="">
        <a class="btn btn-block sw-tabs sw-tabs-last py-2" href="#" dmx-class:disabled="varTab.value != 'Payment'" dmx-class:sw-tabs-active="varTab.value == 'Payment'">Payment</a>
    </div>
</div>

<div id="crLocation" is="dmx-if" dmx-bind:condition="varTab.value == 'Services'">
    <div class="d-flex flex-column px-2 px-md-4 mt-2 mt-md-4 sw-content overflow-auto">
        <!-- <p class="align-items-center d-flex font-weight-bolder mb-2">Select Service (4)<span dmx-show="scLocSpecService.state.executing" class="spinner-border spinner-border-sm ml-2" role="status"></span></p> -->
        <div class="row m-0" is="dmx-repeat" id="repeatServices" dmx-bind:repeat="content.scServiceBBPS.data.All">
            <div class="col-md-2 col-sm-3 col-4 pb-3">
                <div class="sw-card-pay text-center" dmx-on:click="dsAppInfo.clear();varTab.setValue('Operator');dsAppInfo.insert({servicesName: service_name, servicesId: services_id, servicesIndex: $index})" dmx-class:card-fastag="service_name=='FasTag'">
                    <div class="card-header border-0 bg-transparent px-0">
                        <img class="sw-img-location sw-img-render" dmx-bind:src="'https://portal.swpay.in'+content.scServiceBBPS.data.All[$index].service_type" dmx-class:fastag="service_name=='FasTag'">
                    </div>
                    <div class="card-body px-0">
                        <p class="card-title text-primary mb-2 fs-5 sw-font-monospace">{{service_name}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="crOperator" is="dmx-if" dmx-bind:condition="((varTab.value == 'Operator') || (varTab.value == 'Service'))">
    <div class="d-flex flex-column mx-2 mx-md-3 mt-2 mt-md-4 align-items-start sw-content overflow-auto">
        <button class="btn btn-sm btn-link mb-2" dmx-on:click="run({condition:{if:`varTab.value==\'Operator\'`,then:{steps:{run:{action:`varTab.setValue(\'Services\')`}}},else:{steps:{run:{action:`varTab.setValue(\'Operator\')`}}}}})">
            <i class="fas fa-chevron-left mr-2"></i>Back</button>
        <div class="d-flex flex-row align-items-center w-100 px-2 mb-2 sw-search">
            <i class="fas fa-search ml-2"></i>
            <input type="text" class="form-control bg-transparent border-0 sw-font-14" placeholder="Search Operator" style="height: 50px;" name="inputSearchOperator" id="inputSearchOperator" dmx-show="varTab.value == 'Operator'">

        </div>
        <div id="repeatOperators" class="d-flex justify-content-between flex-wrap flex-row align-content-start align-items-end w-100" is="dmx-repeat" dmx-bind:repeat="content.crOperator.inputSearchOperator.value ? content.scServiceBBPS.data.All[dsAppInfo.data[0].servicesIndex].op.where(`operator_name.lowercase()`, content.crOperator.inputSearchOperator.value.lowercase(), 'contains') : content.scServiceBBPS.data.All[dsAppInfo.data[0].servicesIndex].op" key="op_id" dmx-show="varTab.value == 'Operator'">
            <div class="col-12 col-md-6 my-2 px-2">
                <div class="sw-doc border d-flex sw-mouse-pointer w-100 align-items-center p-2" dmx-on:click="varTab.setValue('CustomerInfo');dsAppInfo.update({$id: 1},{op_id: op_id, Operator: operator_name, OperatorIndex: $index, OperatorPic: op_image});">
                    <img class="sw-avatar sw-img-render" dmx-bind:src="'https://portal.swpay.in'+op_image" height="72" width="72">
                    <div class="ml-3 d-flex flex-column justify-content-start">
                        <h5>{{operator_name}}</h5>
                        <p class="sw-doc-specialty sw-font-14 m-0">{{content.dsAppInfo.data[0].servicesName}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div id="crCustomerInfo" is="dmx-if" dmx-bind:condition="varTab.value == 'CustomerInfo'">
    <div class="d-flex flex-column mx-2 mx-md-3 mt-2 mt-md-4 align-items-start sw-content overflow-auto">
        <button class="btn btn-sm btn-link float-left" dmx-on:click="varTab.setValue('Operator')"><i class="fas fa-chevron-left mr-2"></i>Back</button>

        <div class="d-flex justify-content-between flex-wrap mt-2 px-2 w-100">
            <div class="col-12 col-md-12 px-0">
                <div class="mb-3">
                    <div class="d-flex w-100 align-items-center p-3 sw-patient-card-header flex-wrap">
                        <img class="sw-avatar sw-img-render" dmx-bind:src="'https://portal.swpay.in/'+content.dsAppInfo.data[0].OperatorPic" height="72" width="auto">
                        <div class="d-flex flex-column justify-content-start pl-3">
                            <h5 class="mb-2 font-weight-bold">
                                {{content.dsAppInfo.data[0].Operator}}
                            </h5>
                            <p class="sw-font-14 mb-1">
                                {{content.dsAppInfo.data[0].servicesName}}
                            </p>
                        </div>
                    </div>
                    <div class="w-100 align-items-start border-bottom p-2 px-sm-5 py-sm-3 sw-patient-card-body flex-wrap">
                        <h5 class="font-weight-bold sw-label-color flex-column ">{{content.scServiceBBPS.data.All[dsAppInfo.data[0].servicesIndex].service_name}} Bill Payment </h5>
                        <div class="flex-column mt-3">
                            <input type="hidden" id="OpCode" dmx-bind:value="{{dsAppInfo.data[0].op_id}}">
                            <div class="row mx-0">
                                <div class="col-12 col-lg-6 pl-lg-0 pr-lg-2 px-0">
                                    <div class="form-group">
                                        <label class="sw-font-12 sw-font-weight-600">Customer Account Number</label>
                                        <input type="text" class="form-control" name="CustomerId" id="CustomerId" placeholder="Enter Customer Account Number/ Id" required="">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6 pl-lg-2 pr-lg-0 px-0">
                                    <div class="form-group">
                                        <label class="sw-font-12 sw-font-weight-600">Mobile Number </label>
                                        <input type="number" id="CustMobile" class="form-control" name="CustMobile" max="" data-rule-max="10" required="">
                                    </div>
                                </div>

                                <div class="d-flex justify-content-end w-100 my-3">
                                    <button class="btn sw-btn-dark px-5" dmx-on:click="CustomerId.value ? varTab.setValue('Payment') : ''; dsAppInfo.update({$id: 1},{customerIndex: $index+1, customerId: CustomerId.value, mobile: CustMobile.value});flowElecBill.run();" dmx-bind:disabled="scFetchBill.state.executing" type="submit">Fetch Bill<span class="spinner-border spinner-border-sm ml-2" role="status" dmx-show="scFetchBill.state.executing"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="position-absolute col-7 col-md-9 mt-5 text-center" dmx-show="scFetchBill.state.executing">
    <img src="assets/images/loader.gif" height="300" width="300" class="mt-5">
    <!-- <span class="spinner-border" role="status" style="width: 3rem; height: 3rem; color: #20c997;"></span> -->
</div>
<div id="crPayment" is="dmx-if" dmx-bind:condition="varTab.value == 'Payment' && content.scFetchBill.data.Data">
    <form id="formAddBillPayment" is="dmx-serverconnect-form" action="api/Recharge/MultiBillBbps" dmx-populate="" method="post" dmx-on:success="modalBillPayment.show()" dmx-on:error="varTab.setValue('Paid')" dmx-on:unauthorized="varTab.setValue('Paid')" dmx-on:forbidden="varTab.setValue('Paid')">
        <input type="hidden" id="account" name="account" dmx-bind:value="{{content.scFetchBill.data.Account}}">
        <input type="hidden" id="op_code" name="op_code" dmx-bind:value="{{content.dsAppInfo.data[0].op_id}}">
        <input type="hidden" id="dueamount" name="recharge_amount" dmx-bind:value="{{content.scFetchBill.data.DueAmt}}"><input type="hidden" id="mobile_number" name="mobile_number" dmx-bind:value="{{content.dsAppInfo.data[0].mobile}}">
        <input type="hidden" id="agentid" name="agentid" dmx-bind:value="{{content.scFetchBill.data.AgentId}}">
        <input type="hidden" id="billnumber" name="billnumber" dmx-bind:value="{{content.scFetchBill.data.BillNo}}">
        <input type="hidden" id="billdate" name="billdate" dmx-bind:value="{{content.scFetchBill.data.BillDate}}">
        <input type="hidden" id="duedate" name="duedate" dmx-bind:value="{{content.scFetchBill.data.DueDate}}">
        <input type="hidden" id="customername" name="customername" dmx-bind:value="{{content.scFetchBill.data.CustName}}">
        <input type="hidden" id="apibillid" name="apibillid" dmx-bind:value="{{content.scFetchBill.data.FetchBillId}}">

        <div class="d-flex justify-content-between flex-wrap mt-2 px-2 w-100" dmx-show="(content.scFetchBill.data.Status == 2 || content.scFetchBill.data.Status == 1 ) && !scFetchBill.state.executing">
            <div class="d-flex w-100 align-items-center p-3 sw-patient-card-header">
                <img class="sw-avatar sw-img-render" src="assets/images/icons/user-icon.png" height="72" width="72">
                <div class="d-flex flex-column justify-content-start pl-3">
                    <h5 class="mb-2 font-weight-bold">
                        {{content.scFetchBill.data.CustName}}
                    </h5>
                    <p class="sw-font-14 mb-1">
                        Account No.: {{content.scFetchBill.data.Account}}
                    </p>
                </div>
            </div>
            <div class="d-flex w-100 align-items-start border-bottom p-3 sw-patient-card-body">
                <i class="fas fa-money-bill mr-3 sw-text-secondary"></i>
                <div class="d-flex flex-column justify-content-start">
                    <label class="sw-label-color font-weight-bold">Bill Amount: Rs. {{content.scFetchBill.data.DueAmt}}</label>
                    <p class="m-0 text-break">
                        Bill Date: {{content.scFetchBill.data.BillDate}}
                    </p>
                </div>
            </div>
            <div class="d-flex w-100 align-items-start p-3 border-bottom sw-patient-card-body">
                <i class="fas fa-calendar mr-3 sw-text-secondary"></i>
                <div class="d-flex flex-column justify-content-start">
                    <p class="m-0">
                        Bill No. {{content.scFetchBill.data.BillNo}}
                    </p>
                    <label class="sw-label-color font-weight-bold">Due Date: {{content.scFetchBill.data.DueDate}}</label>

                </div>
            </div>
            <div class="d-flex w-100 align-items-start p-3 border-bottom card-footer sw-patient-card-body">
                <div class="d-flex justify-content-between w-100 my-3">
                    <label class="w-50 font-weight-bold">Enter T-Pin:</label>
                    <input class="form-control" type="number" id="tpin" name="mobile_tpin" required="" data-rule-integer="">
                </div>
                <div class="d-flex justify-content-end w-100 my-3">
                    <button class="btn sw-btn-dark px-5" dmx-bind:disabled="content.crPayment.formAddBillPayment.state.executing" type="submit">Pay Now<span class="spinner-border spinner-border-sm ml-2" role="status" dmx-show="content.crPayment.formAddBillPayment.state.executing"></span></button>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between flex-wrap mt-2 px-2 w-100" dmx-show="content.scFetchBill.data.Status == 3 && !scFetchBill.state.executing">
            <div class="d-flex w-100 align-items-center p-3 sw-patient-card-header">
                <img class="sw-avatar sw-img-render" src="assets/images/icons/user-icon.svg" height="72" width="72">
                <div class="d-flex flex-column justify-content-start pl-3">
                    <h5 class="mb-2 font-weight-bold">
                        {{content.scFetchBill.data.Account}}
                    </h5>
                    <p class="sw-font-14 mb-1">
                        Operator: {{content.scFetchBill.data.AgentId}}
                    </p>
                </div>
            </div>
            <div class="d-flex w-100 align-items-start p-3 border-bottom sw-patient-card-body">
                <i class="fas fa-calendar mr-3 sw-text-secondary"></i>
                <div class="d-flex flex-column justify-content-start">
                    <label class="sw-label-color font-weight-bold">Remarks: {{content.scFetchBill.data.Msg}}</label>

                </div>
            </div>
        </div>
    </form>
</div>
<!-- <div id="divPaymentDetail" class="d-block mt-4 sw-bg-light" dmx-show="varTab.value=='Paid'">
    <div class="row mx-0" dmx-show="varPayment.value == 1">
        <div class="col text-center"><img src="assets/images/mark-success.gif" height="200">
            <p class="font-weight-bolder sw-font-20">Bill Payment Success</p>
            <p class="sw-font-14">You can print the receipt from by clicking print button.</p>
        </div>
    </div>
    <div class="row mx-0" dmx-show="varPayment.value == 2">
        <div class="col text-center">
            <img src="assets/images/mark-failure.gif" height="200">
            <p class="font-weight-bolder sw-font-20">Failed!</p>
            <p class="sw-font-14">Bill Payment Failed</p>
        </div>
    </div>
    <div class="row mt-4 no-gutters px-2 mx-0">
        <div class="col-md-6">
            <div class="align-items-center d-flex p-3 sw-doctor">
                <div class="flex-column px-2">
                    <img dmx-bind:src="'https://portal.swpay.in/'+content.dsAppInfo.data[0].OperatorPic" width="60" class="sw-avatar">
                </div>
                <div class="flex-column px-2">
                    <p class="sw-font-14 sw-font-weight-600 mb-1 text-secondary">
                        {{content.dsAppInfo.data[0].Operator}}</p>
                    <p class="sw-text-primary mb-1 sw-font-13">
                        {{content.dsAppInfo.data[0].servicesName}}
                    </p>
                    <p class="sw-font-13 mb-1 text-secondary"> </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="align-items-center d-flex p-3 sw-doctor h-100">
                <div class="flex-md-column sw-doctor-icon">
                    <span><i class="far fa-calendar-alt fa-lg"></i></span>
                </div>
                <div class="flex-md-column px-2">
                    <p class="sw-font-14 sw-font-weight-600 mb-1 text-secondary">
                        Payment Date: {{varDateTime.datetime.formatDate('dd MMM yyyy hh:mm a')}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row  no-gutters px-2 mx-0">
        <div class="col-md-6 sw-border-top">
            <div class="align-items-center d-flex p-3 sw-doctor h-100">
                <div class="flex-md-column sw-doctor-icon">
                    <span><i class="fas fa-map-marker-alt fa-lg"></i></span>
                </div>
                <div class="flex-column px-2">
                    <p class="sw-font-14 sw-font-weight-600 mb-1 text-secondary">
                        {{dsApptInfo.data[0].location}}</p>
                    <p class="sw-font-weight-600 sw-text-primary mb-1 sw-font-13">
                        {{dsApptInfo.data[0].address}}, {{dsApptInfo.data[0].city}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6  sw-border-top">
            <div class="align-items-center d-flex p-3 sw-doctor h-100">
                <div class="flex-md-column  sw-doctor-icon">
                    <span><i class="fas fa-info fa-lg"></i></span>
                </div>
                <div class="flex-md-column px-2">
                    <p class="sw-font-14 sw-font-weight-600 mb-1 text-secondary">
                        {{dsApptInfo.data[0].service.titlecase()}}</p>
                    <p class="sw-font-weight-600 sw-text-primary mb-1 sw-font-13">
                        {{dsApptInfo.data[0].duration}} minutes</p>
                    <p class="mb-0 sw-font-weight-600 sw-font-19 text-danger">{{dsApptInfo.data[0].price.formatCurrency('AED ', '.', ',', 0)}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-4 justify-content-between px-4 mx-0">
        <div class="col-md-3 col-sm-6 col-xs-6 mt-2">
            <button class="btn sw-btn-secondary sw-font-14 btn-block" dmx-on:click="varTab.setValue('Services'); varTab.varPayment('0');">Back</button>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 mt-2">
            <button class="btn btn-block sw-btn-dark" type="submit">Print <span class="spinner-border spinner-border-sm ml-2" role="status" dmx-show="state.executing"></span></button>
        </div>
    </div>
</div> -->
<div class="modal fade" id="modalBillPayment" is="dmx-bs5-modal" tabindex="-1" nokeyboard="true" nobackdrop="true" nocloseonclick="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{content.dsAppInfo.data[0].servicesName}} Bill Payment</h5>
                <button type="button" class="close btn-close" data-bs-dismiss="modal" data-dismiss="modal" aria-label="Close" dmx-on:click="varTab.setValue('Services');modalBillPayment.hide()"></button>
            </div>
            <div class="modal-body">
                <div class="row mx-0" dmx-show="content.crPayment.formAddBillPayment.data.apistatus == 'SUCCESS' || content.crPayment.formAddBillPayment.data.apistatus == 'PENDING' ">
                    <div class="col text-center">
                        <img src="assets/images/mark-success.gif" height="130" class="sw-img-render">
                        <p class="font-weight-bolder sw-font-20">Payment Success</p>
                        <p class="sw-font-14">You can print the receipt from by clicking print button.</p>
                        <p class="sw-font-14">Remarks: {{content.crPayment.formAddBillPayment.data.remarks}}</p>
                    </div>
                </div>
                <div class="row mx-0" dmx-show="content.crPayment.formAddBillPayment.data.apistatus == 'FAILED' ">
                    <div class="col text-center">
                        <img src="assets/images/mark-failure.gif" height="130" class="sw-img-render">
                        <p class="font-weight-bolder sw-font-20">Failed!</p>
                        <p class="sw-font-14">Remarks: {{content.crPayment.formAddBillPayment.data.remarks}}</p>
                    </div>
                </div>
                <div class="row mt-2 no-gutters px-2 mx-0">
                    <div class="col-md-12">
                        <div class="align-items-center d-flex px-2 py-1 sw-doctor">
                            <div class="flex-column px-2">
                                <img dmx-bind:src="'https://portal.swpay.in/'+content.dsAppInfo.data[0].OperatorPic" width="60" class="sw-avatar sw-img-render">
                            </div>
                            <div class="flex-column px-2">
                                <p class="sw-font-14 sw-font-weight-600 mb-1 text-secondary">
                                    {{content.dsAppInfo.data[0].Operator}}</p>
                                <p class="sw-text-primary mb-1 sw-font-13">
                                    {{content.dsAppInfo.data[0].servicesName}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="align-items-center d-flex px-2 py-1 sw-doctor h-100">
                            <div class="flex-md-column sw-doctor-icon">
                                <span><i class="far fa-calendar-alt fa-lg"></i></span>
                            </div>
                            <div class="flex-md-column px-2">
                                <p class="sw-font-14 sw-font-weight-600 mb-1 text-secondary">
                                    Payment Date: {{varDateTime.datetime.formatDate('dd MMM yyyy hh:mm a')}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row  no-gutters px-2 mx-0">
                    <div class="col-md-6 sw-border-top">
                        <div class="align-items-center d-flex px-2 py-1 sw-doctor h-100">
                            <div class="flex-md-column sw-doctor-icon">
                                <span><i class="fas fa-user-check fa-lg"></i></span>
                            </div>
                            <div class="flex-column px-2">
                                <p class="sw-font-14 sw-font-weight-600 mb-1 text-secondary">
                                    Customer Id: {{content.dsAppInfo.data[0].customerId}}</p>
                                <p class="sw-font-weight-600 sw-text-primary mb-1 sw-font-13">
                                    Mobile: {{content.dsAppInfo.data[0].mobile}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6  sw-border-top">
                        <div class="align-items-center d-flex px-2 py-1 sw-doctor h-100">
                            <div class="flex-md-column  sw-doctor-icon">
                                <span><i class="fas fa-money-bill fa-lg"></i></span>
                            </div>
                            <div class="flex-md-column px-2">
                                <p class="sw-font-14 sw-font-weight-600 mb-1 text-secondary">
                                    Amount: Rs. {{content.scFetchBill.data.DueAmt}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-4 justify-content-between px-4 mx-0">
                    <div class="col-md-3 col-sm-6 col-xs-6 mt-2">
                        <button class="btn sw-btn-secondary sw-font-14 btn-block" dmx-on:click="varTab.setValue('Services');modalBillPayment.hide()">Close</button>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 mt-2">
                        <button class="btn btn-block sw-btn-dark" type="submit">Print <span class="spinner-border spinner-border-sm ml-2" role="status" dmx-show="state.executing"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>