<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="certificate" appConnect="local" -->
<meta name="ac:route" content="/certificate">
<style>
    footer {
        display: none !important;
    }
</style>
<div class="container my-3 img-container">
    <img class="col-12 sw-img-render mb-5" src="/assets/images/Certificate.png">
    <div class="text-block-certificate">
        <h3>{{scLoginUser.data.LoginUserInfo.user_fname}}</h3>
    </div>
</div>