<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="complainraise" appConnect="local" -->
<meta name="ac:route" content="/complain-raise">
<dmx-serverconnect id="scRaiseSubject" url="api/Complain/ComplainSubject"></dmx-serverconnect>
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Inquiry
            <span class="border-3 ms-2 spinner-border spinner-border-sm" role="status" dmx-show="scLoginUser.state.executing"></span>
        </h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Raise Complain or Inquiry</li>
        </ol>
        <form id="formComplain" is="dmx-serverconnect-form" action="api/Complain/ComplainRaiseOutside" method="post" dmx-on:success="scNotif.success('Complain/ Inquiry Raised Successfully');formComplain.reset(true)" dmx-on:error="scNotif.warning(content.formComplain.lastError.response)" dmx-on:unauthorized="scNotif.warning(content.formComplain.lastError.response)" dmx-on:forbidden="scNotif.warning(content.formComplain.lastError.response)">
            <div class="row mx-0">
                <div class="col-12 col-md-6 my-3">
                    <label class="fw-bold">Select Type</label>
                    <select class="form-control form-select" name="subject" id="subject" dmx-bind:options="content.scRaiseSubject.data.SubjectList" optiontext="subject" optionvalue="subject" required="">
                        <option value="">Select</option>
                    </select>
                </div>
                <div class="col-12 col-md-6 my-3" dmx-show="subject.value=='Mobile Recharge Dispute' || subject.value=='DMT & AEPS Dispute'">
                    <label class="fw-bold">Transaction Id</label>
                    <input class="form-control" name="ComplainId" id="ComplainId">
                </div>
                <div class="col-12 col-md-6 my-3">
                    <label class="fw-bold">Message</label>
                    <textarea class="form-control" name="complainReason" id="complainReason"></textarea>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</main>