<!-- Wappler include head-page="layouts/web-main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="index" appconnect="local" components="{dmxSwiper:{}}" -->
<meta name="ac:route" content="/">
<!-- ======= Hero Section ======= -->
<section id="hero">

    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
                <div data-aos="zoom-out">
                    <h1>The Future of Digital Solution <span></span></h1>
                    <h2>We deal in : Digital Banking, Mobile Recharge, Aadhar Enbled Payment System, Utility Bill Payments, Micro ATM, Digital Payments through handy digital devices - Web & App. We also provide services through API and Whitelable.


                    </h2>
                    <div class="text-center text-lg-start">
                        <a href="https://swpay.in/login" class="btn-get-started scrollto">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300">
                <img src="assets-web/img/hero-img.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
        <defs>
            <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="wave1">
            <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)" />
        </g>
        <g class="wave2">
            <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)" />
        </g>
        <g class="wave3">
            <use xlink:href="#wave-path" x="50" y="9" fill="#fff"></use>
        </g>
    </svg>

</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-5 col-lg-6 video-box" data-aos="fade-right">
                    <a href="https://www.youtube.com/watch?v=MiqVKNpsTVo" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true" target="_blank"></a>
                </div>

                <div class="col-xl-7 col-lg-6 icon-boxes py-5 px-lg-5" data-aos="fade-left">
                    <h3>Our Popular Services</h3>
                    <p>S W Pay provides you multiple services. Signup with us for Recharges, Bill Payments, Insurance and many more services here.</p>

                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                        <!-- <div class="icon"><img src="assets-web/img/icon/mobile.png" alt="" class="img-fluid" width="40px"></div> -->
                        <div class="icon"><i class="bx bxs-mobile"></i></div>
                        <h4 class="title"><a href="">Mobile | DTH | Postpaid</a></h4>
                        <p class="description">Fastest & Simplest way for Online Recharge. Paying your utility bills was never so easy!
                            You can pay all your Recharge and bills including prepaid, postpaid, etc.</p>
                    </div>

                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
                        <!-- <div class="icon"><i class="bx bx-gift"></i></div> -->
                        <!-- <i class="fa-solid fa-lightbulb-exclamation-on"></i> -->
                        <div class="icon"><i class="bx bx-rupee"></i></div>
                        <h4 class="title"><a href="">Bharat Bill Payment System</a></h4>
                        <p class="description">With Bharat Bill Payment System (BBPS), we have created a strong business source for our S W Sevaks, allowing them to become a one-stop-solution for all of the customer’s bill payment needs.</p>
                    </div>


                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon"><i class="bx bxs-bank"></i></div>
                        <h4 class="title"><a href="">S W Banking</a></h4>
                        <p class="description">At S W Pay, we are committed to provide basic banking & financial services to everyone securely & easily. Our One Stop banking solutions offer services like Cash Deposit to the under-served population of India through our amazing S W Pay network.</p>
                    </div>

                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="400">
                        <div class="icon"><img src="assets-web/img/icon/aeps.png" alt="" class="img-fluid" width="70px"></div>
                        <!-- <div class="icon"><i class="bx bx-money"></i></div> -->
                        <h4 class="title"><a href="">Aadhar Enbled Payment System</a></h4>
                        <p class="description">At S W Pay, we are committed to provide basic banking & financial services to everyone securely & easily. Our One Stop banking solutions offer services like Cash Deposit & Cash Withdrawal to the under-served population of India through our amazing S W Pay network</p>
                    </div>

                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="500">
                        <!-- <div class="icon"><img src="assets-web/img/icon/mobile.png" alt="" class="img-fluid" width="40px"></div> -->
                        <div class="icon"><i class="bx bx-intersect"></i></div>
                        <h4 class="title"><a href="">API Services</a></h4>
                        <p class="description">S W Pay is the leading developer-friendly API solution to integrate and process your Recharge, Utility, AEPS Services and etc.</p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End About Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>Our Valueadded Features</h2>
                <br>
                <p>Check The Services We Provide</p>
            </div>

            <div class="row" data-aos="fade-left">
                <div class="col-lg-3 col-md-4">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
                        <i class="ri-smartphone-line" style="color: #2cceff;"></i>
                        <h3><a href="">Mobile | DTH</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                        <i class="bi bi-router-fill" style="color: #5578ff;"></i>
                        <h3><a href="">Postpaid | Landline</a></h3>
                    </div>

                </div>
                <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
                        <!-- <i class="ri-money-dollar-circle-line" style="color: #e361ff;"></i> -->
                        <i class="bi bi-lightbulb" style="color: #ffbb2c;"></i>
                        <h3><a href="">Electricity</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="150">
                        <i class="ri-drop-fill" style="color: #47aeff;"></i>
                        <h3><a href="">Water</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="250">
                        <!-- <i class="bi bi-lightbulb" style="color: #29cc61;"></i> -->
                        <img src="assets-web/img/icon/gas.png" alt="" class="img-fluid" width="32px">
                        <h3><a href="">&nbsp;&nbsp;Gas</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
                        <i class="ri-hospital-line" style="color: #ff477e;"></i>
                        <h3><a href="">EMI | Insurance</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="350">
                        <i class="ri-bank-fill" style="color: #1162db;"></i>
                        <h3><a href="">S W Banking</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="400">
                        <!-- <i class="ri-price-tag-2-line" style="color: #4233ff;"></i> -->
                        <!-- <i class="bx bx-bus" style="color: #4233ff;"></i> -->
                        <img src="assets-web/img/icon/aeps.png" alt="" class="img-fluid" width="32px">
                        <h3><a href="">&nbsp;&nbsp;AEPS</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="450">
                        <!-- <i class="bi bi-fingerprint" style="color: #4f9eb2;"></i> -->
                        <img src="assets-web/img/icon/Fastag.png" alt="" class="img-fluid" width="32px">
                        <h3><a href="">&nbsp;&nbsp;Fastag</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="500">
                        <i class="bi-credit-card-2-back-fill" style="color: #09b23c;"></i>
                        <h3><a href="">Credit Card Payments</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="550">
                        <i class="bi bi-wallet" style="color: #ff5828;"></i>
                        <h3><a href="">Digital Payments</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <!-- <div class="icon"><img src="assets-web/img/icon/aeps.png" alt="" class="img-fluid" width="70px"></div> -->
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="600">
                        <img src="assets-web/img/icon/mini_atm.png" alt="" class="img-fluid" width="32px">
                        <!-- <i class="gmdi-atm" style="color: #cc2929;"></i> -->
                        <h3><a href="">&nbsp;&nbsp;Micro ATM</a></h3>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Features Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
        <div class="container">

            <div class="row" data-aos="fade-up">

                <div class="col-lg-3 col-md-6">
                    <div class="count-box">
                        <i class="bi bi-emoji-smile"></i>
                        <span data-purecounter-start="0" data-purecounter-end="11058" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Happy Retailers</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                    <div class="count-box">
                        <i class="bi bi-journal-richtext"></i>
                        <span data-purecounter-start="0" data-purecounter-end="258" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Projects</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                    <div class="count-box">
                        <i class="bi bi-headset"></i>
                        <span data-purecounter-start="0" data-purecounter-end="2991" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Hours Of Support</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                    <div class="count-box">
                        <i class="bi bi-people"></i>
                        <span data-purecounter-start="0" data-purecounter-end="37" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Hard Workers</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Counts Section -->


    <!-- ======= Details Section ======= -->
    <section id="details" class="details">
        <div class="container">

            <div class="row content">
                <div class="col-md-4" data-aos="fade-right">
                    <img src="assets-web/img/details-1.png" class="img-fluid" alt="">
                </div>
                <div class="col-md-8 pt-4" data-aos="fade-up">
                    <h2><a href="">HOW WE WORK</a></h2>
                    <p class="fst-italic">
                        Trust and transparency are our mantras to be associated with our partners, distributors, retailers and clients . We are equipped with essential IT support and 24x7 technical assistance.
                    </p>
                    <ul>
                        <li><i class="bi bi-check"></i> We believe to work with all premier financial institutions and organizations who are leading the economy of country whether they are governmental or non-governmental bodies.</li>
                        <li><i class="bi bi-check"></i> To meet the futuristic digital and online financial solutions, S W Pay believes to facilitate each and every people of the country one of most trusted, reliable and quickest online payment solution gateways.</li>
                        <li><i class="bi bi-check"></i> Through our safe, secure, reliable and quickest payment gateway we believe to connect Semi-urban & Rural India to the mainstream of economic development.</li>
                        <li><i class="bi bi-check"></i> S W Pay is certified to the highest compliance standards. We work extra hard to keep the trust of millions of retailers who transact with us everyday, by adopting a zero tolerance policy to security.</li>
                    </ul>
                </div>
            </div>
            <div class="row content" id="Digital">
                <div class="col-md-4 order-1 order-md-2 pt-5 mt-0 mt-md-5 " data-aos="fade-left">
                    <img src="assets-web/img/details-2.png" class="img-fluid" alt="">
                </div>
                <div class="col-md-8 pt-5 mt-0 mt-md-3 order-2 order-md-1" data-aos="fade-up">
                    <h3>Digital Banking Platform</h3>
                    <div class="row" data-aos="fade-left">
                        <div class="col-lg-6 col-md-4 col-12">
                            <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
                                <img src="assets-web/img/icon/bank1.png" alt="" class="img-fluid" width="60px">&nbsp;&nbsp;
                                <a href="#" class="h3">S W Banking</a>
                                <p class="mt-2 text-justify">This service is available across all the bank branches. Fund transfer can be done on Sundays and bank holidays. Safe and secure transaction. Send money instantly</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-4 col-12">
                            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                                <img src="assets-web/img/icon/BBPS_Logo.png" alt="" class="img-fluid" width="140px">&nbsp;&nbsp;
                                <a href="" class="h3">BBPS</a>
                                <p class="mt-2 text-justify">Bharat BillPay a One-stop access: Bharat BillPay has multiple modes of payment and provides instant confirmation of payment via an SMS or receipt.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-4 col-12">
                            <div class="icon-box" data-aos="zoom-in" data-aos-delay="150">
                                <!-- <i class="bi bi-file-earmark-richtext" style="color: #287eff;"></i> -->
                                <img src="assets-web/img/icon/aeps1.png" alt="" class="img-fluid" width="60px">
                                <a href="" class="h3">AEPS</a>
                                <p class="mt-2 text-justify">AePS is a bank led model which allows online interoperable financial inclusion transaction at PoS (MicroATM) through the Business correspondent of any bank using the Aadhaar authentication.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-4 col-12">
                            <div class="icon-box" data-aos="zoom-in" data-aos-delay="250">
                                <img src="assets-web/img/icon/mini_atm.png" alt="" class="img-fluid" width="60px">
                                <a href="" class="h3">Micro ATM</a>
                                <p class="mt-2 text-justify">The S W Pay micro ATM centres support all transactions which can be normally conducted at a Bank’s Regular ATM.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-4 col-12">
                            <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
                                <img src="assets-web/img/icon/support1.png" alt="" class="img-fluid" width="60px">
                                <a href="" class="h3">Dedicated Support</a>
                                <p class="mt-2 text-justify">We give 24*7 (365 Days) Support to our valueable customers via Phone, Email & Whatsapp.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row content" id="technology">
                <div class="col-md-4 mt-0 mt-md-5 pt-0 pt-md-5" data-aos="fade-right">
                    <img src="assets-web/img/details-3.png" class="img-fluid" alt="">
                </div>
                <div class="col-md-8 mt-0 mt-md-5 pt-5" data-aos="fade-up">
                    <h3>Build What's Next In Financial Inclusion Technology</h3>
                    <p>A career that not only rewards but also inspires. Help build the financial tools of the future for billions of users.</p>
                    <ul>
                        <li><i class="bi bi-check"></i> Robust Technology.</li>
                        <li><i class="bi bi-check"></i> Simple, secure, easy to use Web & App.</li>
                        <li><i class="bi bi-check"></i> Dedicated customer support.</li>
                        <li><i class="bi bi-check"></i> Learn from customer feedback.</li>
                        <li><i class="bi bi-check"></i> Training and Certification Programs.</li>
                    </ul>
                    <p>
                        We at S W Pay believes that technology should not be restricted to the privileged. Technology is nothing but a basic right, which should be accessible to all. S W Pay is yet another endeavor that stands by S W Pay’s beliefs.
                    </p>

                </div>
            </div>

        </div>
    </section><!-- End Details Section -->
    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>Gallery</h2>
                <br>
                <p>Check our Gallery</p>
            </div>

            <div class="row g-0" data-aos="fade-left">

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item" data-aos="zoom-in" data-aos-delay="100">
                        <a href="assets-web/img/gallery/gallery-1.jpg" class="gallery-lightbox">
                            <img src="assets-web/img/gallery/gallery-1.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item" data-aos="zoom-in" data-aos-delay="150">
                        <a href="assets-web/img/gallery/gallery-2.jpg" class="gallery-lightbox">
                            <img src="assets-web/img/gallery/gallery-2.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item" data-aos="zoom-in" data-aos-delay="200">
                        <a href="assets-web/img/gallery/gallery-3.jpg" class="gallery-lightbox">
                            <img src="assets-web/img/gallery/gallery-3.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item" data-aos="zoom-in" data-aos-delay="250">
                        <a href="assets-web/img/gallery/gallery-4.jpg" class="gallery-lightbox">
                            <img src="assets-web/img/gallery/gallery-4.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item" data-aos="zoom-in" data-aos-delay="300">
                        <a href="assets-web/img/gallery/gallery-5.jpg" class="gallery-lightbox">
                            <img src="assets-web/img/gallery/gallery-5.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item" data-aos="zoom-in" data-aos-delay="350">
                        <a href="assets-web/img/gallery/gallery-6.jpg" class="gallery-lightbox">
                            <img src="assets-web/img/gallery/gallery-6.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item" data-aos="zoom-in" data-aos-delay="400">
                        <a href="assets-web/img/gallery/gallery-7.jpg" class="gallery-lightbox">
                            <img src="assets-web/img/gallery/gallery-7.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item" data-aos="zoom-in" data-aos-delay="450">
                        <a href="assets-web/img/gallery/gallery-8.jpg" class="gallery-lightbox">
                            <img src="assets-web/img/gallery/gallery-8.jpg" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section><!-- End Gallery Section -->
    <!-- ======= About Section ======= -->
    <section id="aboutus" class="about">
        <div class="container">
            <div class="row content">
                <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
                    <img src="assets-web/img/details-4.png" class="img-fluid" alt="">
                </div>
                <div class="col-md-8 pt-5 order-2 order-md-1 icon-boxes" data-aos="fade-up">
                    <h3>ABOUT US</h3>
                    <p class="fst-italic">
                        We S W Pay provides payment solutions to the masses through its strong Agent Network using Semi-closed Wallet and Neo Banking Platform which enanbles agents to provide services like PAN Card applications, travel bookings, Insurance, BBPS, Recharge and much more.
                    </p>
                    <p>
                        S W Pay provide you best and secure platform to earn money. we have good technology and also have satisfied supporting team. we have 24/7 support team to help our customers. we think about fast and secure services that's why our talented team always think new and inovative ideas to provide best service in the nation.
                    </p>
                    <ul>
                        <li><i class="bi bi-check"></i> We always think about security, so our Talented team always built good and secure Solution and give best services.</li>
                        <li><i class="bi bi-check"></i> We do fast transactions through our App and Provide Best Services in the India.</li>
                        <li><i class="bi bi-check"></i> Come and join us so you can get best services.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- ======= Testimonials Section ======= -->
    <!-- <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets-web/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Harshit Maheshwari<h3>
                <h4>Ceo &amp; Founder</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  A company is always looking to save money in a shrinking market, which plants should be closed, how much money it will save them, how much it will cost etc. According this we plan our strategy.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div> -->
    <!-- End testimonial item -->

    <!-- <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets-web/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>Prasann Singh</h3>
                <h4>Human resource</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  S W Pay is really good for supporting. they have really good supporting staff and 24/7 support service.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div> -->
    <!-- End testimonial item -->

    <!-- <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets-web/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                <h3>Swati</h3>
                <h4>Account Management</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  I work there since six month and i am thankful to our company S W Pay provide better services to our valueable customers.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div> -->
    <!-- End testimonial item -->

    <!-- <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets-web/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                <h3>Priyadarshan</h3>
                <h4>Support Executive</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  S WPay is really good in provideing various types of services and there app is also good and fast.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div> -->
    <!-- End testimonial item -->

    <!-- <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets-web/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                <h3>Sonali</h3>
                <h4>Support Executive</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  I Use S W Pay Services for a very long time, they provide fast service.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div> -->
    <!-- End testimonial item -->

    <!-- </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section> -->
    <!-- End Testimonials Section -->

    <!-- ======= Pricing Section ======= -->
    <!-- ======= We Are In Future ======= -->
    <section id="pricing" class="pricing">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>Future</h2>
                <br>
                <p>We Are In Future</p>
            </div>

            <div class="row" data-aos="fade-left">

                <div class="col-lg-4 col-md-6">
                    <div class="box featured" data-aos="zoom-in" data-aos-delay="100">
                        <h3>Our Mission</h3>
                        <ul>
                            <li class="text-justify min-hight">To cater to the young aspiring Indians and make The S W Pay as the supermarket for services facilitating. Fulfillment of services in several well-defined verticals Backed by willing retailers who are trained regularly Provide Customers with options to enable them to make their choice With help of a robust and proven S W Pay technology platform that’s easy to use, Tie-ups with service providers after stringent quality checks to ensure best level of service.</li>
                            <li></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
                    <div class="box featured " data-aos="zoom-in" data-aos-delay="200">
                        <h3>Our Vision</h3>
                        <ul>
                            <li class="text-justify min-hight">To become one of the best and largest services retailer in India by addressing the diversified services requirements of the young aspiring Indians</li>
                            <li></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                    <div class="box featured" data-aos="zoom-in" data-aos-delay="300">
                        <h3>Our Strategies</h3>
                        <ul>
                            <li class="text-justify min-hight">A company is always looking to save money in a shrinking market, which plants should be closed, how much money it will save them, how much it will cost etc. According this we plan our strategy.</li>
                            <li></li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Pricing Section -->

    <!-- End We in future -->


    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
        <div class="container">

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="assets-web/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                            <h3>Harshit Maheshwari</h3>
                            <h4>Ceo &amp; Founder</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                A company is always looking to save money in a shrinking market, which plants should be closed, how much money it will save them, how much it will cost etc. According this we plan our strategy.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="assets-web/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                            <h3>Prasann Singh</h3>
                            <h4>Human resource</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                S W Pay is really good for supporting. they have really good supporting staff and 24/7 support service.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="assets-web/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                            <h3>Swati</h3>
                            <h4>Account Management</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                I work there since six month and i am thankful to our company S W Pay provide better services to our valueable customers.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="assets-web/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                            <h3>Priyadarshan</h3>
                            <h4>Support Executive</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                S W Pay is really good in provideing various types of services and there app is also good and fast.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="assets-web/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                            <h3>Sonali</h3>
                            <h4>Support Executive</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                I Use S W Pay Services for a very long time, they provide fast service.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Testimonials Section -->



    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq section-bg">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>F.A.Q</h2>
                <br>
                <p>Frequently Asked Questions</p>
            </div>

            <div class="faq-list">
                <ul>
                    <li data-aos="fade-up">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Which Type Of Services You Provide ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-1" class="collapse " data-bs-parent=".faq-list">
                            <p>
                                We provide various services related to Recharge, BBPS, Banking, AEPS, Digital Solution etc.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="100">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapsed" data-bs-target="#faq-list-2">Do You Have Any Android App ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Yes, We also have Our S W Pay App. You Can checkout in Google Play Store.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="200">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Do You Have Any Price For SignUp? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                No, You can Signup for free in our website and you can also Signup through our app.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="300">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">How We Can Trust Your Product ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                You can find our product in Google and also you can find our parent company and more details website https://swinfotech.com .
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="400">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Your Product is certified ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Yes, S W Pay is a certified and trustable website and app.
                            </p>
                        </div>
                    </li>

                </ul>
            </div>

        </div>
    </section><!-- End F.A.Q Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>Contact Us</h2>
                <br>
                <p>Contact Us</p>
            </div>

            <div class="row">

                <div class="col-lg-4" data-aos="fade-right" data-aos-delay="100">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Location:</h4>
                            <p>1st Floor, Opp. Bank Of Boroda, Kishan Nagar Chowk, Dehradun, Uttarakhand, India-243601</p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>Contact@swpay.in</p>
                        </div>

                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Call:</h4>
                            <p>+91 6396 0908 35</p>
                        </div>

                    </div>

                </div>

                <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left" data-aos-delay="200">

                    <form id="formContact" is="dmx-serverconnect-form" method="post" action="api/Users/AddWebsiteInquiry" dmx-on:success="formContact.reset()" dmx-on:unauthorized="Notification.danger(lastError.response)" dmx-on:forbidden="Notification.danger(lastError.response)" role="form" class="php-email-form">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="user_name" class="form-control" id="name" placeholder="Your Name" required>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="email" class="form-control" name="user_email" id="email" placeholder="Your Email" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="user_mobile" class="form-control" id="user_mobile" placeholder="Your Mobile" required>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="text" class="form-control" name="msg_subject" id="subject" placeholder="Subject" required>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                        </div>
                        <!-- <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div> -->
                        <div class="text-center"><button type="submit" dmx-class:disabled="state.executing">Request A Call back<span class="spinner-border spinner-border-sm" role="status" dmx-show="state.executing"></span></button></div>
                    </form>

                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->