<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="rechargehistory" appConnect="local" components="{dmxStateManagement:{},dmxDataTraversal:{},dmxBootstrap5TableGenerator:{},dmxBootstrap5PagingGenerator:{},dmxSockets:{}}" -->
<meta name="ac:route" content="/paymet-load">
<script is="dmx-flow" id="flowPaymentLoad" type="text/dmx-flow">{
  condition: {
    if: "{{fromDate.value && toDate.value}}",
    then: {
      steps: {
        run: {action: "{{scPaymentLoad.load({})}}"}
      }
    }
  }
}</script>
<dmx-value id="varFilter" dmx-bind:value="0"></dmx-value>

<dmx-serverconnect id="scPaymentLoad" url="api/Reports/PaymentLoad" noload dmx-param:fromdate="fromDate.value+' 00:00:00'" dmx-param:todate="toDate.value+' 23:59:59.999'" dmx-param:limit="1000000"></dmx-serverconnect>
<!-- +' 00:00:00'  +' 23:59:59.999' -->

<div class="row align-items-center justify-content-between px-4 mb-3 sd-secondary-header mx-0">
    <div class="col-12 col-md-auto me-auto ps-4">
        <h1 class="ms-md-1 mt-md-3 text-dark fs-2 sd-fw-800 d-flex align-items-center">
            Payment Load
            <span class="border-3 ms-2 spinner-border spinner-border-sm" role="status" dmx-show="scPatients.state.executing"></span>
        </h1>
    </div>
    <div class="col-auto order-2 order-md-1 d-flex align-items-center justify-content-start justify-content-md-center px-0 px-lg-2">
        <label>From Date:</label><input type="date" name="fromdate" id="fromDate" class="w-25" required="">
        &emsp;<label>To Date:</label><input type="date" name="todate" id="toDate" class="w-25" required="">
        &emsp;<button id="btnFilter" class="btn btn-primary btn-sm" dmx-on:click="flowPaymentLoad.run(); varFilter.setValue(1)">Search</button>
    </div>
    <div class="col-auto order-3 order-md-2 d-flex align-items-center justify-content-start justify-content-md-center px-0 px-lg-3">
        <a href="assets/csvFile/PaymentLoadReport.csv"><button class="btn btn-primary" id="Download">Export
            </button></a>
    </div>
    <div class="col-auto order-1 order-md-3 d-flex align-items-center justify-content-center">
        <form id="formSearchUser" class="sd-search-form">
            <div class="d-flex justify-content-end mb-3 mb-lg-0 mb-md-0">
                <input type="text" class="form-control sd-search-input rounded-pill" id="Search" name="Search" placeholder="Search">
                <span class="bg-transparent btn position-absolute px-1 py-1"><i class="fas fa-search mb-1 mb-xl-0"></i></span>
            </div>
        </form>
    </div>
</div>
<div class="container px-4" id="AccontSummery" dmx-show="varFilter.value == 1">
    <div class="card">
        <div class="card-header sw-bg-col-primary">
            <b>Payment Credit Report</b>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover table-sm">
                    <thead>
                        <tr>
                            <th>Sl. No.</th>
                            <th>Desc.</th>
                            <th>Date/Time</th>
                            <th>Opening Bal.</th>
                            <th>Amount</th>
                            <th>Closing Bal.</th>
                            <th>Remarks</th>
                        </tr>
                    </thead>
                    <tbody is="dmx-repeat" dmx-generator="bs5table" id="tableRepeat1" dmx-bind:repeat="scPaymentLoad.data.PaymentLoad.data">
                        <tr>
                            <td>{{$index+1}}</td>
                            <td dmx-text="tr_by+' | '+tr_by_mobile"></td>
                            <td dmx-text="tr_date.formatDate('dd-MM-yyyy hh:mm:ss A')"></td>
                            <td dmx-text="opening_balance.toNumber().toFixed(2)"></td>
                            <td dmx-text="amount.toNumber().toFixed(2)"></td>
                            <td dmx-text="closing_balance.toNumber().toFixed(2)"></td>
                            <td dmx-text="reason"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>