<!-- Wappler include head-page="layouts/web-main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="termsandconditions" appConnect="local" -->
<meta name="ac:route" content="/terms-and-conditions">
<div class="container my-5 py-5">
    <h1>Payments Terms & Conditions</h1>
    <h5>Online Payments can be done by:</h5>
    <p class="text-justify">
        • Online Payment: Card payment and Net Banking Payment via SWPAY Payment Gateway can be done at Online Payment link on Make Payment page.
        • Problem with an order or payment: Please talk to us on Mobile number or email us at Email ID
    </p>
    <h5>Refunds & Cancellation</h5>
    <p class="text-justify">
        • Online Payment: Card payment and Net Banking Payment via SWPAY Payment Gateway can be done at Online Payment link on Make Payment page.
        • Problem with an order or payment: Please talk to us on Mobile number or email us at Email ID
    </p>
    <h5>Terms & Conditions</h5>
    <p class="text-justify">
        • To avail the services offered at https://swpay.in/, you must agree to the following terms and conditions:
        • Please read the term and conditions carefully. While using any current or future services offered by https://swpay.in/, whether or not included in the https://swpay.in/ website, you will abide by these Terms & conditions the guidelines and conditions applicable to such service or business.
    </p>
    <h5>Privacy Policy</h5>
    <p class="text-justify">
        • Please review our Privacy Policy, which also governs your visit to https://swpay.in/ , to fully understand our practices.
    </p>
    <h5>Electronic Communication</h5>
    <p class="text-justify">
        • When you visit https://swpay.in/ or send e-mails to us, you are communicating with us electronically. By communicating with us, you consent to receive communication from us electronically. We will communicate with you by e-mail or by posting notices on our website. You agree that all agreements, notices, disclosures, and other communications that we provide to you electronically satisfy any legal requirement that such communication be in writing.
    </p>
    <h5>Prices</h5>
    <p class="text-justify">
        • All prices posted on this website are subject to change without notice. Prices prevailing at commencement of placing the order will apply. Posted prices do not include convenience fee. In case there are any additional charges or taxes the same will be mentioned on the website.
    </p>
    <h3>Payment</h3>
    <h5>Online Payments can be done by:</h5>
    <p class="text-justify">
        • Online Payment: Card payment and Net Banking Payment via SWPAY Payment Gateway can be done at Online Payment link on Make Payment page.
    </p>
    <h5>Changes and Cancellation</h5>
    <p class="text-justify">
        • Changes and Cancellation not allowed.
    </p>
    <h5>Refund</h5>
    <p class="text-justify">
        • Refunds initiated will be credited to the customer account/card from where the transaction had initiated.
    </p>
    <h3>License and Website Access</h3>
    <h5>General:</h5>
    <p class="text-justify">
        • https://swpay.in/ grants you a limited license to access and make personal use of this website and not to download (other than page caching) or modify it, or any portion of it, except with express written consent of https://swpay.in/
    </p>
    <h5>No license for commercial sale:</h5>
    <p class="text-justify">
        • This license does not include any resale or commercial use of this website or its content; any collection and use of any product listing, description, or pricing; copying of account information for the benefit of another merchant; or any use of data mining, or similar data gathering and extraction tools.
    </p>
    <h5>No reproduction:</h5>
    <p class="text-justify">
        • This website or any portion of this website may not be reproduced, duplicated, copies, sold, visited, or otherwise exploited for any commercial purpose without express written consent of https://swpay.in/
    </p>
    <h5>No framing:</h5>
    <p class="text-justify">
        • You may not frame or utilize framing technologies to enclose any trademark, logo, or other proprietary information (including images, text, page layout, or form) of https://swpay.in/ without the express written consent.
    </p>
    <h5>Metatags:</h5>
    <p class="text-justify">
        • You may not use any metatags or any other 'hidden text' utilizing Supreme Enterprises name or trademarks without the express written consent of https://swpay.in/ . Any unauthorized use terminates the permission or license granted by https://swpay.in/
    </p>
    <h3>Reviews, Comments, Communications, and other content</h3>
    <h5>Nature of content:</h5>
    <p class="text-justify">
        • Visitors to https://swpay.in/ may post content and other communications; and submit suggestions, ideas, comments, questions or other information, as long as the content is not illegal, obscene, threatening, defamatory, invasive of privacy, infringing of intellectual property rights to otherwise injuries to third party or objectionable and does not consist of or contains software virus, political campaigning, commercial solicitation, mass mailing or any form of spam.
    </p>
    <h5>False information:</h5>
    <p class="text-justify">
        • You may not use false email address, impersonate any person or entity, or otherwise mislead as to the origin of a card or other content. https://swpay.in/ reserves the right (but not the obligation) to remove or edit such content but does not regularly review posted contents.
    </p>
    <h5>Rights Granted:</h5>
    <p class="text-justify">
        • If you do post content or submit material and unless we indicate otherwise, you grant https://swpay.in/ a non-exclusive, royalty-free, perpetual, irrevocable, and fully sub-licensed right to use, reproduce, modify, adapt, publish, translate, create derivative work from, distribute, and display such content throughout the world in any media. You grant https://swpay.in/ the right to use the name that you submit in connection with such content if https://swpay.in/ chooses.
    </p>
    <h5>Right Owned:</h5>
    <p class="text-justify">
        • You represent and warrant that you own all the rights or otherwise or control all of the rights to the content that you post; that the content is accurate; that the use of the content to supply does not violate this policy and will not cause injury to any person or entity and that you will indemnify https://swpay.in/ for all claims resulting from the content you supply. https://swpay.in/ has the right but not the obligation to monitor and edit or remove any activity or content. https://swpay.in/ takes no responsibility and assumes no liability for any content posted by you or any third party.
    </p>
    <h5>Site Policies, Modification, and Severability</h5>
    <p class="text-justify">
        • Please review our other policies. We reserve the right to make changes to our website, policies, and these Terms and Conditions at any time. If any of these conditions shall be deemed invalid, void, or for any reason unenforceable, that condition shall be deemed severable and will not affect the validity and enforceability of any remaining conditions.
    </p>
    <h3>Intellectual Property Rights</h3>
    <h5>Copyright Protection:</h5>
    <p class="text-justify">• All content included on this site, such as text, graphics, logos, button icons, audio clips, digital downloads, data compilations and software, is the property of https://swpay.in/ and protected by the Indian Copyright law. The compilation of all the content on this site is the exclusive property if https://swpay.in/ and protected by Indian Copyright law. All software used in this site is the property of https://swpay.in/ and is protected under the Indian Copyright law.</p>
    <h5>Trademarks- Protected Graphics</h5>
    <p class="text-justify">• All https://swpay.in/ graphics, logos, page headers, button icons, scripts and service names are trademarks or trade dress of https://swpay.in/ . https://swpay.in/ trademarks and trade dress may not be used in connections with any product or service that is not of https://swpay.in/</p>
    <h5>Governing Law and Jurisdiction</h5>
    <p class="text-justify">• These terms and conditions will be construed in accordance with the laws of India. In respect of all matters/disputes arising out of, in connection with or in relation to these terms and conditions or any other conditions on this website, only the competent Courts at Dehradun, Dehradun shall have jurisdiction, to the exclusion of all other courts.</p>
    <h5></h5>
</div>