<!-- Wappler include head-page="layouts/main" is="dmx-app" id="users" appConnect="local" components="{dmxFormatter:{},dmxDataTraversal:{}}" -->
<meta name="ac:route" content="/users">
<dmx-serverconnect id="scPinStateDist" url="api/PostalPin/GetStateDist" dmx-param:pincode="content.modalAddUsers.formAddEditUser.inp_pin.value"></dmx-serverconnect>
<script is="dmx-flow" id="flowGetPIN" type="text/dmx-flow">{
    condition: {
    if: "{{content.modalAddUsers.formAddEditUser.inp_pin.value.length() == 6}}",
    then: {
    steps: {
    run: {action: "{{scPinStateDist.load({})}}"}
    }
    }
    }
    }</script>
<dmx-serverconnect id="scGetSchInd" url="api/Scheme/GetSchemeAlloted" dmx-param:for_user_type="modalAddUsers.formAddEditUser.inp_user_type.value"></dmx-serverconnect>
<script is="dmx-flow" id="flowGetScheme" type="text/dmx-flow">{
    condition: {
    if: "{{modalAddUsers.formAddEditUser.inp_user_type.value}}",
    then: {
    steps: {
    run: {action: "{{scGetSchInd.load({})}}"}
    }
    }
    }
    }</script>
<dmx-serverconnect id="scUsers" url="api/Users/Users" dmx-param:limit="100000"></dmx-serverconnect>
<dmx-data-view id="dvUsers" dmx-bind:data="scUsers.data.FetchUsers.data" pageSize="100" page="10"></dmx-data-view>
<dmx-data-detail id="ddUsers" dmx-bind:data="dvUsers.data" key="id"></dmx-data-detail>
<div class="container">
    <div class="row">
        <div class="col">
            <h1 id="Users" class="mt-4">Manage Users <button id="btnAdd" class="btn btn-primary float-right" dmx-on:click="modalAddUsers.show(); ddUsers.select(0); modalAddUsers.formAddEditUser.reset()">Add User</button></h1>

            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Users</li>
            </ol>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-sm">
            <thead>
                <tr>
                    <th>Sl. No.</th>
                    <th>Unique Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Wallet Bal.</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Aadhar No.</th>
                    <th>PAN No.</th>
                    <th>Address & PIN</th>
                    <th>State & Dist.</th>
                    <th>Firm Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="scUsers.data.FetchUsers.data" id="tableRepeat1">
                <tr>
                    <td>{{$index+1}}</td>
                    <td dmx-text="user_id"></td>
                    <td dmx-text="user_fname.titlecase()"></td>
                    <td dmx-text="user_email"></td>
                    <td dmx-text="user_mobile"></td>
                    <td dmx-text="balance_amt.toNumber().toFixed(2)"></td>
                    <td dmx-text="user_type == 1 ? 'MDT' : user_type == 2 ? 'DT' : user_type == 3 ? 'RT' : 'None'" dmx-class:text-primary="user_type == 1" dmx-class:text-success="user_type == 2" dmx-class:text-warning="user_type == 3" dmx-class:text-danger="user_type == 4"></td>
                    <td dmx-text="u_status != 1 ?'Inactive' : 'Active'" dmx-class:text-primary="u_status == 1" dmx-class:text-warning="u_status != 1"></td>
                    <td dmx-text="aadhar_no"></td>
                    <td dmx-text="pan_no"></td>
                    <td dmx-text="address+' | '+pin"></td>
                    <td dmx-text="state+' | '+district"></td>
                    <td dmx-text="firm_name"></td>
                    <td>
                        <a class="sw-col-ar" href="#" dmx-on:click="ddUsers.select(id); modalAddUsers.show()" data-bs-toggle="modal" data-bs-target="#modalAddUsers"><i class="fas fa-edit" title="Edit Users"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<!-- Modal Add users -->
<div class="modal fade" id="modalAddUsers" is="dmx-bs5-modal" tabindex="-1" nokeyboard="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ddUsers.data.id ? 'Edit User Details' : 'Add A New User'}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" dmx-on:click="modalAddUsers.hide()" dmx-show="ddUsers.data.id"></button>
            </div>
            <div class="modal-body">
                <form is="dmx-serverconnect-form" id="formAddEditUser" method="post" action="api/Users/AddEditUsers" dmx-generator="bootstrap5" dmx-form-type="horizontal" dmx-on:success="formAddEditUser.data.AddEditUsers ? scNotif.success('New User Added') : scNotif.success('User Details Updated');formAddEditUser.reset();scUsers.load();" dmx-on:error="scNotif.warning('An error occurred'); ">
                    <input type="hidden" name="UserId" dmx-bind:value="ddUsers.data.id">
                    <div class="mb-3 row">
                        <div class="col-12 col-sm-6">
                            <label for="inp_super_user" class="col-form-label">User Type</label>
                            <div class="col-12 px-0">
                                <select type="number" class="form-control form-select" id="inp_user_type" name="user_type" aria-describedby="inp_user_type_help" placeholder="Enter user type" dmx-bind:value="ddUsers.data.user_type" dmx-on:changed="flowGetScheme.run()" dmx-bind:disabled="ddUsers.data.id">
                                    <option value="">Select Option</option>
                                    <option value="2" dmx-show="scLoginUser.data.LoginUserInfo.user_type == 1">Distributor</option>
                                    <option value="3" dmx-show="scLoginUser.data.LoginUserInfo.user_type == 2">Retailer</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <label for="inp_scheme_user" class="col-form-label">Allot Scheme</label>
                            <div class="col-12 px-0">
                                <select type="number" class="form-control form-select" id="inp_scheme_type" name="scheme_id" aria-describedby="inp_scheme_type_help" dmx-bind:options="scGetSchInd.data.custom" optiontext="scheme_names" optionvalue="scheme_id" dmx-bind:value="ddUsers.data.scheme_id">
                                    <option value="">Select Option</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-12 col-sm-6">
                            <label for="inp_name" class="col-form-label">User Name</label>
                            <div class="col-12 px-0">
                                <input type="text" class="form-control" id="inp_name" name="name" aria-describedby="inp_name_help" placeholder="Enter Name" maxlength="50" required="" data-msg-required="User Name is required." dmx-bind:value="ddUsers.data.user_fname">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6"><label for="inp_email" class="col-form-label">Email</label>
                            <div class="col-12 px-0">
                                <input type="text" class="form-control" id="inp_email" name="email" aria-describedby="inp_email_help" placeholder="Enter Email" maxlength="100" required="" data-msg-required="Email id is required." data-rule-email="" data-rule-nowhitespace="" dmx-bind:value="ddUsers.data.user_email">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-12 col-sm-6">
                            <label for="inp_mobile" class="col-form-label">Mobile</label>
                            <div class="col-12 px-0">
                                <input type="number" class="form-control" id="inp_mobile" name="mobile" aria-describedby="inp_mobile_help" placeholder="Enter Mobile" maxlength="10" required="" data-msg-required="Mobile id is required." data-rule-number="" dmx-bind:value="ddUsers.data.user_mobile" dmx-bind:readonly="ddUsers.data.id">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6"><label for="inp_aadhar" class="col-form-label">Aadhar No</label>
                            <div class="col-12 px-0">
                                <input type="number" class="form-control" id="inp_aadhar" name="aadhar" aria-describedby="inp_aadhar_help" placeholder="Enter Aadhar No" maxlength="12" required="" data-msg-required="Aadhar no is required." data-rule-number="" dmx-bind:value="ddUsers.data.aadhar_no">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-12 col-sm-6">
                            <label for="inp_pan" class="col-form-label">PAN</label>
                            <div class="col-12 px-0">
                                <input type="text" class="form-control" id="inp_pan" name="pan" aria-describedby="inp_pan_help" placeholder="Enter PAN No" maxlength="10" required="" data-msg-required="PAN no is required." dmx-bind:value="ddUsers.data.pan_no">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <label for="inp_firm" class="col-form-label">Firm Name</label>
                            <div class="col-12 px-0">
                                <input type="text" class="form-control" id="inp_firm" name="firm_name" aria-describedby="inp_firm_help" placeholder="Enter Firm Name" maxlength="100" required="" data-msg-required="Firm Name is required." dmx-bind:value="ddUsers.data.firm_name">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-12 col-sm-6 row mx-0">
                            <label for="inp_pin" class="col-form-label">PIN</label>
                            <div class="col-12 px-0">
                                <input type="number" class="form-control" id="inp_pin" name="pin" aria-describedby="inp_pin_help" placeholder="Enter PIN No." maxlength="100" required="" data-msg-required="PIN is required." dmx-bind:value="ddUsers.data.pin" dmx-on:keyup="flowGetPIN.run()">
                            </div>
                            <div class="col-12 px-0">
                                <label for="inp_state" class="col-form-label">State</label>
                                <div class="col-12 px-0">
                                    <input type="text" class="form-control" id="inp_state" name="state" aria-describedby="inp_state_help" placeholder="Enter State" maxlength="100" required="" data-msg-required="State is required." dmx-bind:value="scPinStateDist.data.PinAPI[0].Circle? scPinStateDist.data.PinAPI[0].Circle : ddUsers.data.state">
                                </div>
                            </div>
                            <div class="col-12 px-0">
                                <label for="inp_district" class="col-form-label">District</label>
                                <div class="col-12 px-0">
                                    <input type="text" class="form-control" id="inp_district" name="district" aria-describedby="inp_district_help" placeholder="Enter District" maxlength="100" required="" data-msg-required="District is required." dmx-bind:value="scPinStateDist.data.PinAPI[0].District? scPinStateDist.data.PinAPI[0].District : ddUsers.data.district">
                                </div>
                            </div>
                            <div class="col-12 px-0">
                                <label for="inp_address" class="col-form-label">Address</label>
                                <div class="col-12 px-0">
                                    <textarea type="text" class="form-control" id="inp_address" name="address" aria-describedby="inp_address_help" placeholder="Enter address No" maxlength="100" required="" data-msg-required="Address is required." dmx-bind:value="ddUsers.data.address"></textarea>
                                </div>
                            </div>
                        </div>
                        <div id="repeat1" class="col-12 col-sm-6" is="dmx-repeat" dmx-bind:repeat="scGetSchInd.data.GetRtScheme" dmx-show="scLoginUser.data.LoginUserInfo.user_type == 1">
                            <label for="inp_scheme_user" class="col-form-label">Target RT Scheme{{$index+1}}</label>
                            <div class="col-12 px-0">
                                <select type="text" class="form-control form-select" dmx-bind:id="'inp_rt_scheme_type'+$index" aria-describedby="inp_scheme_type_help" dmx-bind:options="scGetSchInd.data.GetRtScheme" optiontext="scheme_names" optionvalue="scheme_id" dmx-bind:value="$index == 0 ? ddUsers.data.scheme0 : $index == 1 ? ddUsers.data.scheme1 : $index == 2 ? ddUsers.data.scheme2 : $index == 3 ? ddUsers.data.scheme3 : 0" dmx-bind:name="'scheme'+$index">
                                    <option value="">Select Option</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-primary" dmx-bind:disabled="state.executing">{{ddUsers.data.id? 'Update' : 'Save'}}<span class="spinner-border spinner-border-sm" role="status" dmx-show="state.executing"></span></button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>